@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");

:root {
  --primary-color: #2b688a;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "lato", sans-serif;
  line-height: 1.6;
  color: #333;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2 {
  line-height: 1.2;
  font-weight: 300;
  margin: 10px 0;
}

p {
  margin: 10px 0;
}

img {
  width: 100%;
}

/* Navbar styling */

.navbar {
  color: #dfe6eb;
  background-color: var(--primary-color);
  height: 70px;
}

.navbar ul {
  display: flex;
}

.navbar a {
  padding: 10px;
  margin: 0 5px;
  color: #dfe6eb;
}

.navbar a:hover {
  border-bottom: 2px #dfe6eb solid;
}

.navbar .flex {
  justify-content: space-between;
}

/* Hero styling */

.hero {
  height: 400px;
  background-color: var(--primary-color);
  color: #dfe6eb;
  position: relative;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  margin: 20px 0;
}

.hero .grid {
  grid-template-columns: 55% 45%;
  overflow: visible;
  gap: 30px;
}

.hero-form {
  position: relative;
  top: 60px;
  height: 350px;
  width: 400px;
  padding: 40px;
  z-index: 100;
}

.hero-form .form-control {
  margin: 30px 0;
}

.hero-form input[type="text"],
.hero-form input[type="email"] {
  border: 0;
  border-bottom: 1px solid #b4becb;
  width: 100%;
  padding: 3px;
  font-size: 16px;
}

.hero-form input:focus {
  outline: none;
}

.hero::before,
.hero::after {
  content: "";
  position: absolute;
  height: 100px;
  bottom: -70px;
  background: #fff;
  left: 0;
  right: 0;
  transform: skewY(-3deg);
  -webkit-transform: skewY(-3deg);
  -moz-transform: skewY(-3deg);
  -ms-transform: skewY(-3deg);
  -o-transform: skewY(-3deg);
}

/* Stats styling*/

.stats {
  padding: 100px;
}

.stats-heading {
  max-width: 500px;
  margin: auto;
  color: #333;
}

.stats .grid h3 {
  font-size: 30px;
  color: #b4becb;
}

.stats .grid p {
  font-size: 15px;
  font-weight: bold;
  color: #333;
}

/* Cli styling*/
.cli .grid {
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.cli .grid > *:first-child {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}

.grid img {
  width: 600px;
  height: 160px;
}

/* Cloud Hosting styling */
.cloud .grid {
  grid-template-columns: 4fr 3fr;
}

#cloud-img {
  width: 350px;
}
